egyptiancyclingobservatory.com, www.egyptiancyclingobservatory.com {
    # Reverse proxy to the backend for API and Uploads
    reverse_proxy /api* backend:3001
    reverse_proxy /uploads* backend:3001

    # Reverse proxy everything else to the frontend
    reverse_proxy * frontend:3002
}
